body {
    background-image: url(../slika1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color:  white;
    text-decoration: none;
}

#logo{
    width: 100px;
}

.podebljan{
    font-weight: bold;
}

nav a{
   margin: 0 20px;
}

nav {
    position: absolute;
    top:15px;
    right:0;
}
#centar{
    margin:  auto;
    max-width: 700px;
    padding-top: 10%;
    text-align: center;
}

.naslov{
    font-size: 40px;
    text-align: center;
}

.raketa{
    background-color: black;
    max-width: 180px;
}

.raketa p, .raketa button, .raketa h3{
    padding:0 20px;
}

.raketa button {
    width:100px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 15px;
}

.slikaRakete{
    width: 180px;
    height: 200px;
}

.infoLansiranje{
    background-color: black;
    max-width: 180px;
    padding: 10px 15px;
}

.slikaLansiranja{
    width:180px;
    height: auto;
}


.svaLansiranja{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap : 20px;
    max-width: 1200px;
    margin:  0 auto;
}

.sveRakete {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin:  0 auto;
    justify-content: center;
}

#info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

#info div {
    max-width: 250px;
    width: 100%;
}

button {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .slider {
    position:relative;
    width: 500px;
    height: 300px;
    margin: auto;
    overflow: hidden;
    /* transform: translateY(50%); */
  }

  .slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  img {
    width: 100%;
    height: auto;
  }

.prev,
.next {
  cursor: pointer;
  background-color: #000000a8;
  color: #fff;
  border: 2px solid white;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  text-decoration: none;
}

.brojevi {
    text-align: center;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

#samoraketa {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#samoraketa > div {
    flex: 1 45%;
}

h1 {
    width: 100%;
}
